@using EventFinder2021.Web.ViewModels.StatisticViewModels;
@model StatistiViewModel

@section scripts{

    <script>
        //TODO HTML SANITIZER
        var customer = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';

    </script>
}
<body onload="OnLoad(customer)">
    <script src="~/js/StatisticJs.js"></script>
</body>