@using EventFinder2021.Web.ViewModels.StatisticViewModels;
@model StatistiViewModel

@section scripts{
    <script>
        //TODO HTML SANITIZER
        var customer = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';

    </script>
}
<body onload="OnLoad(customer)">
    <h1>Our users and events statistics.</h1>
    <link rel="stylesheet" href="~/css/StatisticCSS.css" asp-append-version="true" />
    <script src="~/js/StatisticJs.js"></script>
</body>