.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.dialogbox .body {
    position: relative;
    height: auto;
    margin: 20px 10px;
    max-width:1200px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
}
.replyDialogbox .replyBody {
    position: relative;
    height: auto;
    margin: 10px 150px;
    max-width: 1500px;
    padding: 5px;
    background-color:cornflowerblue;
    border-radius: 3px;
    border: 5px solid #ccc;
}
.span {
    max-width: 1500px;
}
.body .message {
    display: inline;
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.5;
    color: #797979;
}

textarea {
    padding: 1rem;
    display: block;
    overflow: auto;
    vertical-align: top;
    font-size: 100%;
    vertical-align: baseline;
    *vertical-align: middle;
    max-height: 200px;
    width:400px;
    height:140px;
    margin-right:10px;
    position:center;
}

#commentform label[for=comment]:after {
    color: #bebebe;
    font-size: .85rem;
    max-width: 650px;
    margin-left: 40px;
    text-decoration-color:white;
}
#submitComment {
    background-color:chocolate;    
    width:60px;
    height:30px;
}

h3 {
    color: white;
}
label {
    color:white;
}
.comment-respond, .respond {
    padding: 2rem;
    background: #111;
    border-radius: 8px;
    margin-left: 350px;
    max-width: 450px;
    text-decoration-color: white;
}

.comment-respond, .respond {
    padding: 2rem;
    background: #111;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
}

#sendComentboxDiv {
    display: none;
}

.hidden {
    display: none;
}